# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (if you use vendoring)
vendor/

# Go workspace file
go.work
go.work.sum

# Go modules
go.sum

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs and temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db
